
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .buttons__button {
    background-color: transparent;
    color: teal;
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .buttons__button {
      text-align: center;
      margin: 0;
    }
  }
  
  .buttons__button:disabled {
    color: #ccc;
    cursor: default;
  }
  
  .tasks__button {
    border: none;
    height: 30px;
    width: 30px;
    color: white;
    padding: 0;
    cursor: pointer;
  }
  
  .tasks__button--toggleDone {
    background-color: hsl(120, 62%, 37%);
  }
  
  .tasks__button--toggleDone:hover {
    background-color: hsl(120, 62%, 45%);
    transition: 1s;
  }
  
  .tasks__button--toggleDone:active {
    background-color: hsl(120, 62%, 50%);
  }
  
  .tasks__button--remove {
    background-color: red;
  }
  
  .tasks__button--remove:hover {
    background-color: hsl(0, 100%, 70%);
    transition: 1s;
  }
  
  .tasks__button--remove:active {
    background-color: hsl(0, 100%, 80%);
  }